<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Search in Google</h1>
      <form action="" method="post">
        <div class="form-group">
          <input type="text" placeholder="Type to search..." name="search_term" class="form-control input-lg">
        </div>
        <div class="form-group">
          <button class="btn btn-block btn-primary btn-lg">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>